<div class="cart-container my-5 " *ngIf="product.length!=0">
    <div class="row">
      <div class="col">
        <h2>Your Cart</h2>
        <div class="table p-4">
          <table class="table table-striped table-dark">
            <thead class="thead-dark">
              <tr>
                <th>Select</th>
                <th>Serial No</th>
                <th>Name</th>
                <th>Image</th>
                <!-- <th>Description</th> -->
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Remove Item</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of product; let i = index">
                <td><input type="checkbox" [value]="false" (change)="onCheckChange($event, i)"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ item.title }}</td>
                <td><img [src]="item.image" alt="{{ item.title }}" width="50" height="50"></td>
                <!-- <td>{{ item.description }}</td> -->
                <td>{{ item.price | currency:'USD':true:'.2-2' }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total | currency:'USD':true:'.2-2' }}</td>
                <td>
                    <span  class="del"><i (click)="confirm(item)" class="fas fa-trash-alt del"></i></span>

                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="row">
                  <div class="class2 col-4">
                  <button class="empty-cart-button btn btn-danger" (click)="function1()">Delete Selected</button>
                </div>
                <div class=" class3 col-3">
                  <button (click)="popup = true" class="empty-cart-button btn btn-danger">Empty Cart</button>
                </div>
              </div>
                </td>
                <td colspan="3"></td>
                
                
                <td>
                  <button routerLink="/products" class="shop-more-button  mt-3">Shop More</button>
                </td>
                <td>
                  <button class="checkout-button mt-3">Check Out</button>
                </td>
                <td class="mt-4"><strong>Total:  {{ grandTotal| currency:'USD':true:'.2-2' }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  

<ng-container *ngIf="product.length=== 0">
    <h1>My Cart</h1>
    <div class="container">
        <div class="card">
            <i class="fas fa-exclamation"></i>
            <h3>Your Cart is empty</h3>
            <h5>Add item to it now</h5>
            <button><a routerLink="/products">Shop now</a></button>
        </div>
    </div>
</ng-container>


<div class="overlay" *ngIf="popup">
  <div class="popup">
    <!-- <a class="close" (click)="popup = false">&times;</a> -->
    
      <div>
      <h4 class="text-center">Do you confirm emptying the cart?</h4>
    </div>

    <div class="row">
        <div class="col-1 offset-4  ">
        <button (click)="emptyCart()" class="btn btn-danger">Yes</button>
        </div>
        <div class="col-1 offset-1">
        <button (click)="popup = false" class="btn btn-danger">No</button>
        </div>
      </div>
      
  </div>
</div>

<div class="overlay" *ngIf="popup_item">
  <div class="popup">
    <!-- <a class="close" (click)="popup = false">&times;</a> -->
      <div >
      <h4 class="text-center">Are you sure want to delete this item?</h4>
    </div>

    <div class="row">
        
        <div class="col-1 offset-4">
        <button (click)="removeItem()" class="btn btn-danger">Yes</button>
        </div>
        <div class="col-1 offset-1">
        <button (click)="popup_item = false" class="btn btn-danger">No</button>
        </div>
      </div>
      
  </div>
</div>



<div class="overlay" *ngIf="popup_delete">
  <div class="popup">
      <div >
      <h4 class="text-center">Are you sure want to delete these items?</h4>
    </div>

    <div class="row">
       
        <div class="col-1 offset-4">
        <button (click)="removeItems()" class="btn btn-danger">Yes</button>
        </div>
        <div class="col-1 offset-1">
        <button (click)="popup_delete = false" class="btn btn-danger">No</button>
        </div>
      </div>
      
  </div>
</div>


<div class="overlay" *ngIf="noItems">
  <div class="popup">

      <h4>No Items Have Been Selected</h4>
      

        <div class="row">
        <div class="col-4">
        <button (click)="function2()" class="btn btn-primary">Exit</button>
        </div>
      </div>
      
  </div>
</div>