h1{
    margin: 2rem;
}

.card{
    text-align: center;
    padding: 4rem;
    color: #452e10;
    align-items: center;
    justify-content: center;
}
i{
    color: rgb(245, 10, 10);
    font-size: 4rem;
}
.h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30ch;
    font-weight: 600;}

.card button{
    width: fit-content;
    background-color: #D81B60;
    color: white;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
}
.del{
    background-color: none;
    font-size: 1rem;
}
img{
    width: 40%;
}
a{
    text-decoration: none;
    color:white;
}

/* -----------RESPONSIVEMESS-------------- */
@media only screen  and (max-width:1024px) and (min-width:80px){
    td{
        width: 20%;
    }
    img{
        width: 45%;
    }
}

.cart-container {
    margin-top: 5rem;
  }
  
  
  .remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  

  .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){

  .popup{
    width: 70%;
  }
}

