
.card{
    width: 28%;
    max-width: 80%;
    background-color: rgb(252, 250, 250);
    padding: 20px 30px;
    border: 1px solid rgba(2,43,105,.07);
    box-shadow: 0px 50px 30px rgb(2 43 105 / 5%);
    border-radius: 25px;
    text-align: left;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    will-change: transform;
    transition: 0.5s ease transform;
    height: 50%;
    font-size: .8rem;
    transition: .4s ease-in-out;
}
/* .card:hover{
    box-shadow: none;
    transition: .4s ease-in-out;
    border-top-right-radius: 10rem;
} */
.container{
    width: 40%;
    display: flex;
    justify-content: space-around;
   
}
.rw{
    margin: 1rem 2rem;
    flex-direction: row;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    align-items: center;
    height: fit-content;
}

.card-top{
    cursor: pointer;
    margin: 1.2rem;
    border: 0.1rem solid #dbdad5;
}
.card-top ul{
    list-style-type: none;
    display: flex; 
    align-items: center;
}
.card-top ul li{
    border-top: none !important;
    border: 0.1rem solid #dbdad5;
    padding: .8rem;
    font-size: 1rem;
    transition: 1s linear;
    width: 10%;
    transition: 1s ease-in-out;
}
li img{
    width: 30%;
}

.card-top ul li:hover{
    box-shadow: 0px 40px 30px rgb(2 43 105 / 5%);
    transition: 1s ease-in-out;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-top ul li:nth-child(1){
    border-left: none;
}
.card-top ul li:last-child{
    border-right: none;
}
h6{
    font-size: .8rem;
    margin-top: .6rem;
    color: #D81B60;
}
.wears{
    margin-top: 5rem;
}

h5, p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    font-weight: 600;
    background: #D81B60;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite;
    -moz-animation: gradient 3s ease infinite;
    animation: gradient 3s ease infinite;
}

.card img{
    width: 100%;
    height: 200px;
    margin: 0px 0;
    object-fit: contain;
}

button{
    background-color: #D81B60;
    color: white;
    border-radius: 1rem;
}
.card h6{
    color: black;
    font-size: 1rem;
}

.bg-color {
    background-color: #050505;
}

.blue {
    background-color: #1507e068 !important;

}

i{
    color:#D81B60;
}
a{
    cursor: pointer;
}

header{
    display:flex;
    margin: 1rem .7rem;
    border: 1px solid #dedcd9;
    padding: .7rem 1rem;
    border-top: none;
    justify-content: space-between;
    color: #D81B60;
    border-radius: .5rem;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 1;
}
.logo{
    display: flex;
}
.logo i{
    color: #D81B60;;
    font-size: 3rem;
    margin: 0 10px;
}

.logo h1{
    font-size: 2rem;
    margin:  15px;
}
input{
    border-radius: 5rem;
    padding: 20px;
        height: 20%;
        margin-top:1.5rem ;
        border-right: none;
        border: 1px solid #dedcd9;
}
#search{
    /* position: absolute;
    left: 34%;
    top: 8.5%; */
    margin-top:1.9rem ;
    color: black;
    font-size: 1rem;
}
i{
    color: black;
}
.icn{
    margin: 1rem;
    
}
button{
    border: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}
.filter-dropdown {
    padding: 5px;
    margin-left: 10px;
}

.full{
    background-color:#D81B60;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem 0;
    padding: 10px;
}

.class1 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px !important;


    font-size: 15px;
    font-weight: bold;
}

.class2 {
    padding-right: 0px !important;
}
.full-cart {
    width: 100%;
}

.class3 {
    font-size: medium;
}

.class4 {
    background-color: black !important;
    margin-bottom: 0px !important;
    padding-top: 20px !important;

}

.class6 {
    margin-top: 0px !important;
    

}

  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


.login-icon {
    display: inline-flex;
    vertical-align: top;
  } 

  .class5:hover {
    background-color: rgb(224, 141, 216) !important; /* New text color when hovered */
  }